* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 2rem;
}

h1 {
  font-family: 'Stick', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

.container {
  width: 100%;
  max-width: 640px;
  margin: 2rem auto;
}

#scanResult {
  width: 100%; 
  padding: 1rem 0; 
  border-radius: 2rem;
  border: 1px solid rgba(82, 255, 82, 1);
  text-align: center;
  font-weight: bold;
}

/* shamelessly plugged from https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
#scanResult.active {
  border: 1px solid rgba(82, 255, 82, 1);
  box-shadow: 0 0 0 0 rgba(82, 255, 82, 1);
  animation: pulse-red 2s infinite;
}

#scanResult.failure {
  border: 1px solid rgba(255, 82, 82, 1); 
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(82, 255, 82, 0.7);
  }
  
  70% {
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

#scanResult.success {
  background: rgba(82, 255, 82, 1);
  opacity: 0.7;
}

#webcamStream {
  width: 100%;
}



@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}