:root {
  --success-color: 82, 255, 82;
  --failure-color: 255, 82, 82;
}

* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 2rem;
}

h1, h2 {
  font-family: 'Stick', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

li {
  margin-bottom: 0.5rem;
}

.container {
  width: 100%;
  max-width: 640px;
  margin: 2rem auto;
}

#scanResult {
  width: 100%; 
  padding: 1rem 0; 
  border-radius: 2rem;
  border: none;
  text-align: center;
  font-weight: bold;
}

#scanResult.border {
  border: 1px solid rgba(var(--success-color), 1);
}

/* shamelessly plugged from https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
#scanResult.active {
  border: 1px solid rgba(var(--success-color), 1);
  box-shadow: 0 0 0 0 rgba(var(--success-color), 1);
  animation: pulse-green 2s infinite;
}

#scanResult.failure {
  border: 1px solid rgba(var(--failure-color), 1); 
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--success-color), 0.7);
  }
  
  70% {
    box-shadow: 0 0 0 10px rgba(var(--success-color), 0);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgba(var(--success-color), 0);
  }
}

#scanResult.success {
  background: rgba(var(--success-color), 1);
  opacity: 0.7;
}

#webcamStream {
  width: 100%;
}